
body {
  background-color: #302e2e;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:whitesmoke;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Darker Grotesque" !important;
}

.header {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.header h2 {
  color: #d3ae87;
  font-size: 80px !important;
}

@media(max-width: 900px) {
  .header {
        left: 50%;
  }

  .header h2 {
        font-size: 20px !important;
        text-align:center;
  }
}
.thumbnail
{
  padding-left: 40%;
}
p
{
  color: #d3ae87;
  font-size: 25px;
}
/*--------------- navigation --------------- */

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
}

.nav.scrolled {
  background-color: #161616 !important;
  transition: background-color 500ms linear;
}

.nav #brand {
  float: left;
  display: block;
  margin-left: 40px;
  line-height: 80px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.nav #brand a {
  color: #fff;
  font-family: Poppins !important;
  transition: all 500ms ease-out;
}

.nav #brand a:hover {
  text-decoration: none;
}

.nav #menu {
  float: left;
  right: 40px;
  position: fixed;
}

.nav #menu li {
  padding-left: 40px;
  display: inline-block;
  font-weight: lighter !important;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 80px;
  position: relative;
  transition: all 500ms ease-out;
}

.nav #menu li a {
  font-family: Poppins !important;
  color: rgb(156, 156, 156);
  transition: all 500ms ease-out;
}

.nav #menu li a:hover {
  text-decoration: none;
  color: #fff;
  transition: all 500ms ease-out;
}

#toggle {
  position: absolute;
  right: 40px;
  top: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  width: 30px;
  height: 30px;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 30px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 2;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  text-transform: uppercase;
  min-height: 50px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media(max-width: 900px) {
  #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
  }

  nav #brand {
        margin-left: 10px;
  }

  #resize ul li a {
        font-size: 15px;
        font-family: "Poppins" !important;
        font-weight: lighter !important;
        color: rgb(156, 156, 156) !important;
        transition: all 500ms ease-out;
  }

  nav #menu {
        display: none;
  }
}

@media(min-width: 900px) {
  #resize {
        visibility: hidden !important;
  }
}

.content {
  position: absolute;
  margin-top: 100vh;
  width: 100%;
}

/*--------------Project section--------------------*/

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}
.swiper-slide {
  background-position:center;
  width: 400px;
  height: 400px;
  background: #fff;
}
.swiper-slide .imgBx
{
  width: 100%;
  height:400px;
  overflow:hidden;
  position:relative;
}

.swiper-slide .imgBx img
{
  width:100%;
  height:auto;
}
.swiper-slide .imgBx .details
{
  box-sizing: border-box;
  font-size: 20px;
  padding:20px;

}
.swiper-slide .imgBx .details h3{
  margin:0;
  padding:0;
  font-size: 20px;
  text-align:center;
  line-height: 20px;
  color:wheat;
}
.swiper-slide .imgBx .details h3 span
{
  font-size: 16px;
  color:wheat;
}

.content-p
{
  color:#fff;
  background:rgba(0, 0, 0, 0.8);
  position:absolute;
  top:0%;
  left:100%;
  width: 100%;
  height:100%;
  padding:20px;
  box-sizing: border-box;
  transition: all 0.5s;
}

.swiper-slide .imgBx:hover .content-p
{
 left:0;
}

.content-p p
{
 border-top:1px solid white;
 border-bottom: 1px solid white;
 padding:20px 0;
}
.display-container
{
  height:700px;
  width:100%;
  font-size: 20px;
  color:whitesmoke;
  padding:20px;
  margin:10%;
}
/*-------------------Contact--------------*/

#media, #address, #mail {
  text-align: center !important;
}

.Contact .container {
  padding: 160px 0;
}

.Contact li, p, h4 {
  font-size: 24px !important;
}
.Contact h4 {
  font-weight: lighter;
  color: #fff;
}

.Contact p {
  color: grey;
  font-weight: lighter;
}

.Contact li {
  font-weight: lighter;
  color: #fff;
  padding-left: 20px;
  font-size: 18px !important;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media(max-width: 900px) {
  .footer .container {
        width: 92% !important;
  }
}

footer
{
  margin: auto;
  padding: 20px;
  text-align: center;
  color: #a3a3a3;
}